RewriteEngine On
 
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(contacts.*)$ index.php [QSA,L]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(donations.*)$ donations.php [QSA,L]